# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run lint and tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest coverage
        pip install pdoc3
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with custom test engine
      run: |
        failureStr=$(python -m src.main -e ALL | grep -i "Number of failed tests:")
        numFailures=${failureStr:0-1}
        if [ $numFailures -gt 1 ]; then exit $numFailures; else exit 0; fi
    - name: Generate code coverage
      run: |
        python -m coverage run -m src.main -e ALL
        codeCoverageStr=$(python -m coverage report | grep 'TOTAL')
        codeCoverage=$(echo $codeCoverageStr | awk '{print $4}')
        echo "Code coverage: $codeCoverage"
    - name: Create documentation
      run: |
        pdoc src/ --output-dir Docs/ --force --html 
        